extends ../layout

mixin torrent_item(torrent)
   span.wide
      span.panel.panel-default
         span.panel-heading
            span.row
               span.title.col-xs-12
                  img(src='//cdn4.iconfinder.com/data/icons/small-n-flat/24/file-word-128.png')
                  strong= torrent.title
         span.panel-body
            span.row
               span.uploader.col-xs-4
                  small= 'by ' + helpers.user.getDisplayName(torrent.uploader)
               span.counts.col-xs-8
                  small
                     span.badge= torrent.seeders
                     | &nbsp;
                     | seeds
                  | &nbsp;
                  small
                     span.badge= torrent.leechers
                     | &nbsp;
                     | leechs
            span.row
               span.col-xs-12
                  span.well.description
                     if torrent.description
                        != helpers.markdown(torrent.description)
                     else
                        p <i>No description available</i>
         span.panel-footer
            span.row
               span.col-xs-12
                  .btn-group.btn-group-sm
                     a(href=torrent.magnet).btn.btn-success
                        | Magnet Link
                     a(href=helpers.url.torrent_file(torrent.id)).btn.btn-success
                        | Download Torrent

block head
   != css('css/search')
block content
   if useAjaxLayout
      .item.col-sm-12.col-md-8
         +torrent_item(torrent)
   else
      .row
         .item.col-xs-12
            +torrent_item(torrent)